@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
 
hr { margin: 0 }
.columns:last-child { margin-bottom: 0 }

.columns_content * { 
    background-color: gray;
    position: absolute;
    z-index: +1;
    border-radius: 20px;
    max-width: 10px;
    padding: 10px;
    animation: dots_animation 4s infinite; 
    transition: animation-play-state;
}

.columns_content c-1:hover .c-2 {
    background-color: gray;
    animation-play-state: paused !important;
}

@keyframes dots_animation {
    from {background-color: gray;}
    to {background-color: black;}    
}